/* top:260px;
right: 450px; */

@keyframes car {
    0%{top:260px;right: 450px; transform: rotate(0deg);}
    5%{top:255px;right: 430px;transform: rotate(18deg);}
    10%{top:250px;right: 410px;transform: rotate(36deg);}
    15%{top:245px;right: 390px;transform: rotate(54deg);}
    20%{top:240px;right: 370px;transform: rotate(72deg);}
    25%{top:235px;right: 350px;transform: rotate(90deg);}
    30%{top:230px;right: 370px;transform: rotate(108deg);}
    35%{top:225px;right: 390px;transform: rotate(126deg);}
    40%{top:220px;right: 410px;opacity: 1;transform: rotate(144deg);}
    45%{top:215px;right: 430px;opacity: 0.5;transform: rotate(162deg);}
    50%{top:210px;right: 450px;opacity: 0.25;transform: rotate(180deg);}
    55%{top:215px;right: 470px;opacity: 0.5;transform: rotate(198deg);}
    60%{top:220px;right: 490px;transform: rotate(216deg);}
    65%{top:225px;right: 510px;transform: rotate(234deg);}
    70%{top:230px;right: 530px;transform: rotate(252deg);}
    75%{top:235px;right: 550px;transform: rotate(270deg);}
    80%{top:240px;right: 530px;transform: rotate(288deg);}
    85%{top:245px;right: 510px;transform: rotate(306deg);}
    90%{top:250px;right: 490px;transform: rotate(324deg);}
    95%{top:255px;right: 470px;transform: rotate(342deg);}
    100%{top:260px;right: 450px;transform: rotate(360deg);}
}

/* bottom: 50px;
left: 150px; */
@keyframes cow {
    0%{bottom: 58px ;left: 160px;}
    20%{bottom: 50px;left: 170px;}
    40%{bottom: 58px;left: 180px;}
    60%{bottom: 50px;left: 190px;}
    80%{bottom: 58px;left: 200px;}
    100%{bottom: 50px;left: 210px;}
}